repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.5
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/facebook/pyrefly-pre-commit
    rev: 0.44.1
    hooks:
      - id: pyrefly-check
        name: Pyrefly (type checking)
        pass_filenames: false
        additional_dependencies:
          - numpy>=2.3.5
          - pendulum>=3.1.0
          - python-dateutil>=2.9.0.post0
          - types-python-dateutil>=2.9.0.20251115
          - pytest>=9,<10
